.button {
  align-self: flex-end;
  width: 40px;
  height: 40px;
  background: url("../../../img/eyeClose.svg") no-repeat center center;
  background-size: contain;
  transition: background-image 0.1s ease-in-out;
  cursor: pointer;

  &:hover {
    background-image: url("../../../img/eyeOpen.svg");
  }
  &:active {
    background-image: url("../../../img/eyeOpen.svg");
  }
}
